## Zadanie 1 - Dane

Załaduj zbiór danych korzystajac z biblioteki Pandas. Kolumny w naszym zbiorze danych, to:

imię
nazwisko
rok urodzenia
miesiac urodzenia
dzień urodzenia
miejsce urodzenia
miasto, w którym znajduje się oddział firmy
departament, w którym pracuje dana osoba
rok roczęcia pracy w firmie
miesiac rozpoczęcia pracy
dzień rozpoczęcia pracy
doswiadczenie (w latach)

In [11]:
import pandas as pd
df = pd.read_csv('dataset_pandas_pd.csv', delimiter=',', names = ['imie', 'nazwisko', 'rok_urodzenia', 'miesiac_urodzenia', 'dzien_urodzenia', 'miejsce_urodzenia', 'miasto_oddzial', 'departament', 'rok_rozpoczecia', 'miesiac_rozpoczecia', 'dzien_rozpoczescia', 'doswiadczenie'])
df.head()

,imie,nazwisko,rok_urodzenia,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,miasto_oddzial,departament,rok_rozpoczecia,miesiac_rozpoczecia,dzien_rozpoczescia,doswiadczenie
0,Adam,Abacki,1970,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20
1,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
2,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
3,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4
4,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30