## Zadanie 1 - Dane

Załaduj zbiór danych korzystajac z biblioteki Pandas. Kolumny w naszym zbiorze danych, to:

imię
nazwisko
rok urodzenia
miesiac urodzenia
dzień urodzenia
miejsce urodzenia
miasto, w którym znajduje się oddział firmy
departament, w którym pracuje dana osoba
rok roczęcia pracy w firmie
miesiac rozpoczęcia pracy
dzień rozpoczęcia pracy
doswiadczenie (w latach)

In [34]:
import pandas as pd
df = pd.read_csv('dataset_pandas_pd.csv', delimiter=',', names = ['imie', 'nazwisko', 'rok_urodzenia', 'miesiac_urodzenia', 'dzien_urodzenia', 'miejsce_urodzenia', 'miasto_oddzial', 'departament', 'rok_rozpoczecia', 'miesiac_rozpoczecia', 'dzien_rozpoczescia', 'doswiadczenie'])
df.head()

,imie,nazwisko,rok_urodzenia,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,miasto_oddzial,departament,rok_rozpoczecia,miesiac_rozpoczecia,dzien_rozpoczescia,doswiadczenie
0,Adam,Abacki,1970,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20
1,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
2,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
3,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4
4,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30

## Zadanie 2 - Najczęstsze nazwisko
Osób o jakim nazwisku jest najwięcej ?

## Zadanie 3 - Płeć
Po kolumnie z nazwiskiem dodaj kolumnę reprezentującą płeć danej osoby. Można wykorzystać fakt, że imiona
kobiet kończą się literka 'a'.

In [32]:
# dodawanie kolumny na pozycji 2
df.insert(2, 'plec', df['imie'].apply(lambda x: 'Kobieta' if x.endswith('a') == True else 'Mezczyzna'))

In [33]:
# dodawanie kolumny na końcu df
df['plec'] = df['imie'].apply(lambda x: 'Kobieta' if x=='%a' else 'Mezczyzna')

## Zadanie 4 - Sortowanie
Posortuj zbiór danych alfabetycznie po nazwiskach, a w ramach jednego nazwiska po roku urodzenia.

## Zadanie 5 - Doświadczenie
Do zbioru danych należy dodać kolumnę, która będzie mówiła o poziomie doświadczenia danej osoby, w sposób
słowny, przyjmując:

Junior (do 3 lat doświadczenia)
Mid (4 do 8 lat)
Senior (9 do 12 lat)
Ekspert (od 13 lat)

## Zadanie 6 - Rok dołączenia
Kolumna reprezentująca rok dołączenia do firmy ma puste wartości. Uzupełnij brakujące wartości używając
średniej dla osób o takim samym poziomie doświadczenia (kolumna z Zadania 3), w skali całej firmy.

## Zadanie 7 - Data Scientists
Który oddział firmy ma najwięcej Data Scientistów ?

## Zadanie 8 - Nazwy departamentów
Szef chciałby zmienić nazewnictwo departamentów w całej firmie. Napisz kod, który zamieni wartości w
kolumnie reprezentującej departament, nastepująco:

Software Development -> Software Development Team
HR -> Human Resources
Data Science -> Data Analytics

## Zadanie 9 - Seniorzy
Które biuro firmy ma najwięcej osób na Seniorskim poziomie doświadczenia ?

## Zadanie 10 - Kobiety Juniorzy
Które biuro ma najwięcej kobiet na Juniorskim poziomie doświadczenia ?

## Zadanie 11 - Kobiety Mid
Ile jest kobiet w krakowskim biurze, na Mid poziomie doświadczenia, urodzonych przed 1975 rokiem ?

## Zadanie 12 - Seniorzy z ostatnich 10 lat
Ile osób, które posiadają obecnie stanowisko seniorskie, dołączyło do firmy w przeciągu ostatnich 10 lat?