## Zadanie 1 - Dane

Załaduj zbiór danych korzystajac z biblioteki Pandas. Kolumny w naszym zbiorze danych, to:

imię
nazwisko
rok urodzenia
miesiac urodzenia
dzień urodzenia
miejsce urodzenia
miasto, w którym znajduje się oddział firmy
departament, w którym pracuje dana osoba
rok roczęcia pracy w firmie
miesiac rozpoczęcia pracy
dzień rozpoczęcia pracy
doswiadczenie (w latach)

In [40]:
import pandas as pd
df = pd.read_csv('dataset_pandas_pd.csv', delimiter=',', names = ['imie', 'nazwisko', 'rok_urodzenia', 'miesiac_urodzenia', 'dzien_urodzenia', 'miejsce_urodzenia', 'miasto_oddzial', 'departament', 'rok_rozpoczecia', 'miesiac_rozpoczecia', 'dzien_rozpoczescia', 'doswiadczenie'])
df.head()

,imie,nazwisko,rok_urodzenia,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,miasto_oddzial,departament,rok_rozpoczecia,miesiac_rozpoczecia,dzien_rozpoczescia,doswiadczenie
0,Adam,Abacki,1970,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20
1,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
2,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
3,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4
4,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30

## Zadanie 2 - Najczęstsze nazwisko
Osób o jakim nazwisku jest najwięcej ?

In [57]:
df.groupby('nazwisko').imie.count().idxmax()

'Abacki'

## Zadanie 3 - Płeć
Po kolumnie z nazwiskiem dodaj kolumnę reprezentującą płeć danej osoby. Można wykorzystać fakt, że imiona
kobiet kończą się literka 'a'.

In [32]:
# dodawanie kolumny na pozycji 2
df.insert(2, 'plec', df['imie'].apply(lambda x: 'Kobieta' if x.endswith('a') == True else 'Mezczyzna'))

In [33]:
# dodawanie kolumny na końcu df
df['plec'] = df['imie'].apply(lambda x: 'Kobieta' if x=='%a' else 'Mezczyzna')

## Zadanie 4 - Sortowanie
Posortuj zbiór danych alfabetycznie po nazwiskach, a w ramach jednego nazwiska po roku urodzenia.

In [64]:
df.sort_values(by = ['nazwisko','rok_urodzenia'])

,imie,nazwisko,rok_urodzenia,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,miasto_oddzial,departament,rok_rozpoczecia,miesiac_rozpoczecia,dzien_rozpoczescia,doswiadczenie
22,Anastazja,Abacka,1990,6,21,Gdansk,Krakow,HR,2017.0,9,25,13
38,Alicja,Abacka,1992,2,5,Gdansk,Warszawa,Accounting,NaN,3,15,13
16,Roman,Abacki,1962,2,23,Lublin,Krakow,Data Science,NaN,5,12,8
0,Adam,Abacki,1970,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20
9,Janusz,Abacki,1975,9,16,Gdynia,Gdansk,Sales,1995.0,11,5,20
23,Antoni,Abacki,1982,7,20,Warszawa,Krakow,HR,2018.0,10,20,12
35,Antoni,Abacki,1984,5,8,Ryki,Warszawa,HR,2015.0,5,10,16
28,Franciszek,Abacki,1993,12,15,Lublin,Krakow,Data Science,1997.0,4,25,8
32,Wiktor,Abacki,1995,8,11,Gdansk,Warszawa,Accounting,2018.0,4,15,4
10,Karolina,Babacka,1965,8,17,Legnica,Gdansk,Data Science,2005.0,4,15,30
1,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
17,Stanislawa,Babacka,1979,1,24,Inowroclaw,Krakow,Software Development,2012.0,4,5,7
39,Barbara,Babacka,1982,1,4,Sopot,Warszawa,Data Science,NaN,2,5,10
33,Magda,Babacka,1985,7,10,Lublin,Warszawa,Software Development,2017.0,4,12,18
24,Beata,Babacka,1991,8,19,Krakow,Krakow,Software Development,2019.0,4,24,11
29,Boleslaw,Babacki,1985,11,14,Katowice,Krakow,Data Science,1998.0,4,25,7
36,Bronislaw,Babacki,1993,4,7,Gdansk,Warszawa,HR,2014.0,4,22,15
2,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
18,Tomasz,Cabacki,1961,2,25,Bydgoszcz,Krakow,Data Science,2013.0,6,13,6
11,Leon,Cabacki,1976,7,18,Wroclaw,Krakow,Data Science,2006.0,4,25,24
25,Cezary,Cabacki,1983,9,18,Gdynia,Krakow,Data Science,NaN,4,21,12
37,Horacy,Cabacki,1983,3,6,Tarnobrzeg,Warszawa,Data Science,2013.0,4,25,14
30,Dariusz,Cabacki,1994,10,13,Katowice,Krakow,Accounting,1999.0,9,5,6
34,Maciej,Cabacki,1994,6,9,Warszawa,Warszawa,Data Science,2016.0,6,11,17
19,Urszula,Dabacka,1980,3,24,Bydgoszcz,Krakow,Data Science,2014.0,4,14,5
12,Michal,Dabacki,1964,6,19,Swinoujscie,Gdansk,HR,2007.0,12,5,21
3,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4
31,Mariusz,Dabacki,1986,9,12,Gdansk,Warszawa,Accounting,2019.0,8,5,5
26,Daniel,Dabacki,1992,10,17,Gdansk,Krakow,Software Development,1995.0,12,5,10
4,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30
13,Natalia,Ebacka,1977,5,20,Zakopane,Krakow,HR,2008.0,4,10,20
27,Ewa,Ebacka,1984,11,16,Zakopane,Krakow,Software Development,1996.0,11,15,9
20,Wladyslaw,Ebacki,1960,4,23,Poznan,Krakow,Data Science,2015.0,7,16,15
21,Zofia,Fabacka,1981,5,22,Gdansk,Krakow,HR,NaN,8,25,14
14,Oskar,Fabacki,1963,4,21,Gdansk,Krakow,Data Science,2009.0,4,25,10
5,Ferdynand,Fabacki,1973,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20
15,Patrycja,Gabacka,1978,3,22,Rzeszow,Krakow,Software Development,2010.0,4,5,9
6,Grzegorz,Gabacki,1967,12,13,Gdansk,Gdansk,Software Development,2002.0,4,5,18
7,Halina,Habacka,1974,11,14,Warszawa,Gdansk,Accounting,2003.0,9,15,17
8,Iwona,Ibacka,1966,10,15,Poznan,Gdansk,Sales,2004.0,10,25,16

## Zadanie 5 - Doświadczenie
Do zbioru danych należy dodać kolumnę, która będzie mówiła o poziomie doświadczenia danej osoby, w sposób
słowny, przyjmując:

Junior (do 3 lat doświadczenia)
Mid (4 do 8 lat)
Senior (9 do 12 lat)
Ekspert (od 13 lat)

In [105]:
def poziom_doswiadczenia(row):
    if row['doswiadczenie'] <= 3:
        return 'Junior'
    elif row['doswiadczenie'] <= 8:
        return 'Mid'
    elif row['doswiadczenie'] <= 12:
        return 'Senior'
    else:
        return 'Ekspert'
    
df['poziom_doswiadczenia'] = df.apply(lambda row: poziom_doswiadczenia(row), axis=1)
df.head()

,imie,nazwisko,rok_urodzenia,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,miasto_oddzial,departament,rok_rozpoczecia,miesiac_rozpoczecia,dzien_rozpoczescia,doswiadczenie,poziom_doswiadczenia
0,Adam,Abacki,1970,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20,Ekspert
1,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10,Senior
2,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35,Ekspert
3,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4,Mid
4,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30,Ekspert

## Zadanie 6 - Rok dołączenia
Kolumna reprezentująca rok dołączenia do firmy ma puste wartości. Uzupełnij brakujące wartości używając
średniej dla osób o takim samym poziomie doświadczenia (kolumna z Zadania 5), w skali całej firmy.

In [128]:
# df.groupby('poziom_doswiadczenia').rok_rozpoczecia.mean()
df['rok_rozpoczecia'] = df['rok_rozpoczecia'].fillna(df.groupby('poziom_doswiadczenia')['rok_rozpoczecia'].transform('mean'))
df.head()

,imie,nazwisko,rok_urodzenia,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,miasto_oddzial,departament,rok_rozpoczecia,miesiac_rozpoczecia,dzien_rozpoczescia,doswiadczenie,poziom_doswiadczenia,sredni_rok_rozpoczecia
0,Adam,Abacki,1970,3,4,Gdansk,Gdansk,Data Science,2015.000000,4,5,20,Ekspert,NaN
1,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,2007.833333,5,15,10,Senior,NaN
2,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.000000,6,25,35,Ekspert,NaN
3,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.000000,4,5,4,Mid,NaN
4,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.000000,7,15,30,Ekspert,NaN
5,Ferdynand,Fabacki,1973,11,12,Walbrzych,Gdansk,HR,2001.000000,8,25,20,Ekspert,NaN
6,Grzegorz,Gabacki,1967,12,13,Gdansk,Gdansk,Software Development,2002.000000,4,5,18,Ekspert,NaN
7,Halina,Habacka,1974,11,14,Warszawa,Gdansk,Accounting,2003.000000,9,15,17,Ekspert,NaN
8,Iwona,Ibacka,1966,10,15,Poznan,Gdansk,Sales,2004.000000,10,25,16,Ekspert,NaN
9,Janusz,Abacki,1975,9,16,Gdynia,Gdansk,Sales,1995.000000,11,5,20,Ekspert,NaN
10,Karolina,Babacka,1965,8,17,Legnica,Gdansk,Data Science,2005.000000,4,15,30,Ekspert,NaN
11,Leon,Cabacki,1976,7,18,Wroclaw,Krakow,Data Science,2006.000000,4,25,24,Ekspert,NaN
12,Michal,Dabacki,1964,6,19,Swinoujscie,Gdansk,HR,2007.000000,12,5,21,Ekspert,NaN
13,Natalia,Ebacka,1977,5,20,Zakopane,Krakow,HR,2008.000000,4,10,20,Ekspert,NaN
14,Oskar,Fabacki,1963,4,21,Gdansk,Krakow,Data Science,2009.000000,4,25,10,Senior,NaN
15,Patrycja,Gabacka,1978,3,22,Rzeszow,Krakow,Software Development,2010.000000,4,5,9,Senior,NaN
16,Roman,Abacki,1962,2,23,Lublin,Krakow,Data Science,2010.000000,5,12,8,Mid,NaN
17,Stanislawa,Babacka,1979,1,24,Inowroclaw,Krakow,Software Development,2012.000000,4,5,7,Mid,NaN
18,Tomasz,Cabacki,1961,2,25,Bydgoszcz,Krakow,Data Science,2013.000000,6,13,6,Mid,NaN
19,Urszula,Dabacka,1980,3,24,Bydgoszcz,Krakow,Data Science,2014.000000,4,14,5,Mid,NaN
20,Wladyslaw,Ebacki,1960,4,23,Poznan,Krakow,Data Science,2015.000000,7,16,15,Ekspert,NaN
21,Zofia,Fabacka,1981,5,22,Gdansk,Krakow,HR,2008.736842,8,25,14,Ekspert,NaN
22,Anastazja,Abacka,1990,6,21,Gdansk,Krakow,HR,2017.000000,9,25,13,Ekspert,NaN
23,Antoni,Abacki,1982,7,20,Warszawa,Krakow,HR,2018.000000,10,20,12,Senior,NaN
24,Beata,Babacka,1991,8,19,Krakow,Krakow,Software Development,2019.000000,4,24,11,Senior,NaN
25,Cezary,Cabacki,1983,9,18,Gdynia,Krakow,Data Science,2007.833333,4,21,12,Senior,NaN
26,Daniel,Dabacki,1992,10,17,Gdansk,Krakow,Software Development,1995.000000,12,5,10,Senior,NaN
27,Ewa,Ebacka,1984,11,16,Zakopane,Krakow,Software Development,1996.000000,11,15,9,Senior,NaN
28,Franciszek,Abacki,1993,12,15,Lublin,Krakow,Data Science,1997.000000,4,25,8,Mid,NaN
29,Boleslaw,Babacki,1985,11,14,Katowice,Krakow,Data Science,1998.000000,4,25,7,Mid,NaN
30,Dariusz,Cabacki,1994,10,13,Katowice,Krakow,Accounting,1999.000000,9,5,6,Mid,NaN
31,Mariusz,Dabacki,1986,9,12,Gdansk,Warszawa,Accounting,2019.000000,8,5,5,Mid,NaN
32,Wiktor,Abacki,1995,8,11,Gdansk,Warszawa,Accounting,2018.000000,4,15,4,Mid,NaN
33,Magda,Babacka,1985,7,10,Lublin,Warszawa,Software Development,2017.000000,4,12,18,Ekspert,NaN
34,Maciej,Cabacki,1994,6,9,Warszawa,Warszawa,Data Science,2016.000000,6,11,17,Ekspert,NaN
35,Antoni,Abacki,1984,5,8,Ryki,Warszawa,HR,2015.000000,5,10,16,Ekspert,NaN
36,Bronislaw,Babacki,1993,4,7,Gdansk,Warszawa,HR,2014.000000,4,22,15,Ekspert,NaN
37,Horacy,Cabacki,1983,3,6,Tarnobrzeg,Warszawa,Data Science,2013.000000,4,25,14,Ekspert,NaN
38,Alicja,Abacka,1992,2,5,Gdansk,Warszawa,Accounting,2008.736842,3,15,13,Ekspert,NaN
39,Barbara,Babacka,1982,1,4,Sopot,Warszawa,Data Science,2007.833333,2,5,10,Senior,NaN

## Zadanie 7 - Data Scientists
Który oddział firmy ma najwięcej Data Scientistów ?

## Zadanie 8 - Nazwy departamentów
Szef chciałby zmienić nazewnictwo departamentów w całej firmie. Napisz kod, który zamieni wartości w
kolumnie reprezentującej departament, nastepująco:

Software Development -> Software Development Team
HR -> Human Resources
Data Science -> Data Analytics

## Zadanie 9 - Seniorzy
Które biuro firmy ma najwięcej osób na Seniorskim poziomie doświadczenia ?

## Zadanie 10 - Kobiety Juniorzy
Które biuro ma najwięcej kobiet na Juniorskim poziomie doświadczenia ?

## Zadanie 11 - Kobiety Mid
Ile jest kobiet w krakowskim biurze, na Mid poziomie doświadczenia, urodzonych przed 1975 rokiem ?

## Zadanie 12 - Seniorzy z ostatnich 10 lat
Ile osób, które posiadają obecnie stanowisko seniorskie, dołączyło do firmy w przeciągu ostatnich 10 lat?